<!--图片链接-->
<div class="picLink-edit">
    <input type="hidden" value="{$data.field_id}" class="field_id" name="field_id" id="field_id"/>
    <input type="hidden" value="Image" class="field_type" name="field_type" id="field_type"/>
    <div class="warning-msg-content">
    该组件只可添加与删除，不可编辑
    </div>
    <div class="image-cell">
        <div class="lab">位置</div>
        <div class="text">
            <input type="number" name="sort" value="{$data.field_list.sort}"/>
        </div>
    </div>
</div>
