<div class="layui-form-item">
    <label class="layui-form-label">选择地区</label>
    <div class="layui-input-inline">
        <select name="province" lay-filter="province" id="province">
            <option value="">请选择省</option>
        </select>
    </div>
    <div class="layui-input-inline" style="display: none;">
        <select name="city" lay-filter="city" id="city">
            <option value="">请选择市</option>
        </select>
    </div>
    <div class="layui-input-inline" style="display: none;">
        <select name="area" lay-filter="area">
            <option value="">请选择县/区</option>
        </select>
    </div>
</div>
