<form  class="layui-form seller-alone-form" id="edit_form">
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>区域名称：</label>
        <input type="hidden" name="mall_id" value="{$data.mall_id}" />
        {if $data}
        <div class="layui-form-mid">
            <input name="mall_name" value="{$data.mall_name}" lay-verify="required" class="layui-input" type="text">
            <!--<input type="hidden" name="id" value="{$data.mall_id}" />-->
            <!--{$data.mall_name}-->
        </div>
        {else /}
        <div class="layui-input-inline seller-inline-6">
            <input name="mall_name" value="{$data.mall_name}" lay-verify="required" placeholder="请输入区域名称" class="layui-input" type="text">
        </div>
        {/if}
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>区域地址：</label>
        <div style="width:100px;display: inline-block">
            <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="addAdr()" type="button">添加区域地址</button>
        </div>
        <div style="height:10px"></div>
        <div style="margin-bottom:15px">
            <div id="adr-list" style="padding-left:120px">
                {volist name='areaList' id='vo' key='adrKey'}
                    <div class="adr-item">{$vo.adr_Name}<span class="closed">X</span><input type="hidden" value="{$vo.adr_id}" name="adr_id[{$adrKey} ]"/></div>
                {/volist}

            </div>

        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"><i class="required-color">*</i>区域管理员：</label>
        <div style="width:100px;display: inline-block">
            <button class="layui-btn layui-btn-primary layui-btn-xs" onclick="addUser()" type="button">添加管理员</button>
        </div>
        <div style="height:10px"></div>


        <div style="border:1px solid #eee;padding:20px;background: #fcfcfc;display: inline-block;min-width: 716px">
            <?php
                $empty = !empty($authList);
            ?>
            {if condition="$empty"}
                <div style="padding:10px;border-bottom:1px solid #ddd;margin-top:-20px;margin-bottom:20px">
                    {volist name='authList' id='vo' key='userKey'}
                    <div  style="display: inline-block;background:#fff4d6;line-height: 20px;height:20px;border-radius:16px;padding:3px 15px;margin-right:10px;color:#cd9706">
                        已有用户名{$userKey}:{$vo.userName}
                    </div>
                    {/volist}
                </div>
            {/if}

            <div id="user-list" style="padding-left:20px">

            </div>
        </div>
    </div>

    <div class="layui-form-item" style="margin-top:50px">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit lay-filter="save-areaMall">保存</button>
            <button type="button" onclick="javascript:history.back(-1);" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>

</form>
<style>
    .nodata{
        color:#999;
        line-height: 20px;
        height:20px
    }
</style>
<script>
    layui.use(['form','layer'], function(){
        layui.form.render();
        layui.form.on('submit(save-areaMall)', function(data){
            JsPost("{:url('AreaMall/saveAreaMapping')}",data.field,function(res){
                    if (res.status) {
                        layer.msg(res.msg);
                        window.location.reload()
                    }else{
                        layer.msg(res.msg);
                    }
            });
        });
    });


    // 添加地址
    function addAdr(){
        $.ajax({
            type:'get',
            url: "{:url('area_mall/addAdr')}",
            data:'',
            success:function(e){
                if(e.status){
                    window.box = layer.open({
                        type: 1,
                        content: e.data,//
                        area: ['600px', '500px'],
                        title:'选择地区',
                        btn: ['确定','取消'],
                        yes: function(index, layero){
                            var idlist = [];
                            if ($("#qu").find("input[type=checkbox]:checked").length == 0){
                                layer.msg('请选择地区');
                            }else{
                                var sheng = $("#sheng option:checked").text();
                                var shi = $("#shi option:checked").text();
                                $("#qu").find("input[type=checkbox]:checked").each(function(index,el){

                                    idlist.push({name:sheng+shi+$(el).attr("title"),id:$(el).val()});

                                });
                                var html = '';
                                idlist.forEach(function(el,index){
                                    html = html + '<div class="adr-item">'+el.name+'<span class="closed">X</span><input type="hidden" value="'+el.id+'" name="adr_id['+index+']"/> </div>';
                                });
                                // $("#adr-list").empty();
                                $("#adr-list").append(html);
                                layer.close(index);
                            }
                        }
                    });
                }else{
                    layer.msg(e.msg);
                }
            }
        });
    }

    /*删除地区*/
    $("body").on("click",".adr-item .closed",function(){
        $(this).parents(".adr-item").remove();
        if ($(".adr-item").length > 0){
                $(".nodata").hide();
        }else{
            $(".nodata").show();
        }
    });


    /*添加用户*/
    function addUser(){
        var i = $(".p-item").length+1;
        $("#user-list").append('<div class="p-item">\n' +
            '                    <input type="hidden" name="userId['+i+']" value="0">\n' +
            '                    <div class="layui-form-item"  style="display: inline-block">\n' +
            '                        <label class="layui-form-label" style="width:60px;padding:9px 0"><i class="required-color">*</i> 用户名：</label>\n' +
            '                        <div class="layui-input-inline seller-inline-4">\n' +
            '                            <input class="layui-input" lay-verify="required" name="userName['+i+']" value=""/>\n' +
            '                        </div>\n' +
            '                    </div>\n' +
            '                    <div class="layui-form-item"  style="display: inline-block">\n' +
            '                        <label class="layui-form-label" style="width:60px;padding:9px 0"><i class="required-color">*</i> 密码：</label>\n' +
            '                        <div class="layui-input-inline seller-inline-4">\n' +
            '                            <input class="layui-input" lay-verify="required" name="userPassWord['+i+']" value=""/>\n' +
            '                        </div>\n' +
            '                    </div>\n' +
            '                    <div class="del-btn"\n' +
            '                         style="display: inline-block;\n' +
            '                            color:red;\n' +
            '                            height:38px;\n' +
            '                            line-height: 38px;\n' +
            '                            vertical-align: top;\n' +
            '                            text-decoration: underline;\n' +
            '                            cursor: pointer">删除</div>\n' +
            '                </div>')

    }

    /*删除用户*/
    $("#user-list").on('click','.del-btn',function(){
        $(this).parents(".p-item").remove();
        $(".p-item").each(function(i,el){
            $(el).find("input[name^=userId]").attr("name",'userId['+(i+1)+']');
            $(el).find("input[name^=userName]").attr("name",'userName['+(i+1)+']');
            $(el).find("input[name^=userPassWord]").attr("name",'userPassWord['+(i+1)+']');
        })
    });
</script>
<style>
    .adr-item{
        display: inline-block;
        height:20px;
        line-height: 20px;
        border-radius: 12px;
        padding:2px 10px;
        background: #009688;
        color:#ffffff;
        margin-right:20px;
        margin-bottom:10px;
    }
    .adr-item .closed{
        margin-left:10px;
        cursor: pointer;
    }
</style>

