<form class="layui-form aftersales_form" id="aftersales_form" action="" style="margin:10px;">
    <input type="hidden" name="return_id" value="{$info.return_id}" />
    <div class="layui-form-item">
        <label class="layui-form-label">售后单号：</label>
        <div class="layui-input-block">
            <div class="layui-form-mid">{$info.return_sn}</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">用户：</label>
            <div class="layui-input-block">
                <div class="layui-form-mid">{$info.buyer_name}</div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">售后类型：</label>
            <div class="layui-input-inline" style="width:100px;">
                <div class="layui-form-mid">{$info.refund_type}</div>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-inline" style="width:100px;">
                <div class="layui-form-mid">{$info.status}</div>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <div class="layui-form-mid">{$info.return_reason}</div>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">商品金额：</label>
            <div class="layui-input-block">
                <div class="layui-form-mid">{$info.refund_price}</div>
            </div>
        </div>
    </div>
    <style>
        .layui-form-item .layui-form-checkbox[lay-skin="primary"] {
            margin:0;
        }
    </style>
    <div class="layui-form-item">
        <label class="layui-form-label">退货商品：</label>
        <div class="layui-input-block">
            <div class="layui-form-mid">
                <table id="billAftersalesItems" lay-filter="billAftersalesItems"></table>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">退款金额：</label>
        <div class="layui-input-block">
            <input name="refund" value="{$info.refund_amount}" required="" style="width:150px;" lay-verify="required" placeholder="退款金额" autocomplete="off" class="layui-input" type="text" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">审核结果：</label>
        <div class="layui-input-block">
            <input name="status" value="1" title="通过" checked="" type="radio">
            <input name="status" value="2" title="拒绝" type="radio">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注：</label>
        <div class="layui-input-block">
            <div class="layui-form-mid">
                <input name="mark" value="" required="" lay-verify="required" placeholder="请输入备注" style="width:380px;" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
    </div>



</form>


<script>
    layui.use(['form', 'table'], function(){
        layui.form.render();
        layui.table.render({
            elem: '#billAftersalesItems'
            ,size: 'sm'
            ,cols: [[ //标题栏
                {field: 'goods_name', title: '商品名称', width: 260},
                {field: 'goods_num', title: '购买数量', minWidth: 40},
                {field: 'return_num', title: '退货数量', minWidth: 60}
            ]]
            ,data: stringToJson(htmlDecodeByRegExp('{$info.items_json}'))
            //,skin: 'line' //表格风格
            ,even: true
            //,page: true //是否显示分页
            //,limits: [5, 7, 10]
            //,limit: 5 //每页默认显示的数量
        });
    });
</script>