<style type="text/css">
	.layui-card-body{
		background-color: #fff;
		padding: 10px;
		margin-top: 10px;
		border: 1px solid #e6e6e6;
	}
	.layui-tab-card>.layui-tab-title{
		background-color: #f9f9f9;
		border-bottom: none;
	}
	.layui-tab-content{
		padding: 0;
	}
	.layui-table, .layui-table-view{
		margin: 0;
	}
    .layui-margin-10{
        margin:10px ;
    }
    .red{
        background-color: red;
    }
</style>

<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
<div id="app">
    <div class="layui-card-body">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>用户提交信息</legend>
        </fieldset>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">料单：</label>
                <div class="layui-input-inline seller-inline-4">
                        <a href="{$data.good_img}" target="_blank"><img src="{$data.good_img}" style="width: 200px; height:200px;" /></a>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="layui-inline">
                    <label class="layui-form-label">下单人：</label>
                    <div class="layui-input-inline seller-inline-4">
                        <div class="layui-form-mid layui-word-aux">{$data.buyerInfo.buyer_name}</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="layui-inline">
                    <label class="layui-form-label">下单电话：</label>
                    <div class="layui-input-inline seller-inline-4">
                        <div class="layui-form-mid layui-word-aux">{$data.buyerInfo.buyer_tel}</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="layui-inline">
                    <label class="layui-form-label">下单地址：</label>
                    <div class="layui-input-inline seller-inline-4">
                        <div class="layui-form-mid layui-word-aux">{$data.buyerAddressInfo.area_info}</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="layui-inline">
                    <label class="layui-form-label">收货人：</label>
                    <div class="layui-input-inline seller-inline-4">
                        <div class="layui-form-mid layui-word-aux">{$data.buyerAddressInfo.buyer_name}</div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="layui-inline">
                    <label class="layui-form-label">收货电话：</label>
                    <div class="layui-input-inline seller-inline-4">
                        <div class="layui-form-mid layui-word-aux">{$data.buyerAddressInfo.tel_phone}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card-body" v-if="orderDetail.orderDetail">
        <div class="layui-tab layui-tab-card" lay-filter="goods-tab">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>订单信息</legend>
            </fieldset>



            <table cellpadding="0" cellspacing="0"  border="1" style="border-collapse:collapse;" class="table-layout-01">
                    <thead>
                      <tr>
                        <td>订单号</td>
                        <td width="25%">商品名称</td>
                        <td>商品金额</td>
                        <td>商品数量</td>
                        <td>预估收入</td>
                        <td width="10%">下单时间</td>
                        <td>订单状态</td>
                      </tr>
                    </thead>
                    <tbody>
                      {volist name="list" id="order" }
                      <tr>
                        <?php $skus=json_decode($order['skus']); ?>
                        <td>{$order.orderid}</td>
                        <td><?php  echo msubstr($skus['0']->skuname,0,10);  ?></td>
                        <td>总额:¥{$order.cosprice}</td>
                        <td>总量:<?php echo count( $skus);  ?></td>
                        <td>总额:¥<?php echo $order['commission'] * $scale; ?></td>
                        <td><?php echo date( "y-m-d" , $order['ordertime']/1000) ?></td>
                        <td><?php if($order['balance']==1) echo '<span style="color:#0a75ff">已结算</span>'; else if($order['yn']==0) echo '<span style="color:#f00">锁定</span>' ; else echo '未结算'; ?></td>
                      </tr>
                      <?php foreach($skus as $k=>$v): ?>
                          <tr class="blck_{$i}" style="display: none;">
                            <td class="border0"></td>
                            <td class="border-dotted" style="min-width: 250px;word-wrap: break-word; word-break: break-all;white-space: normal;">
                              <a href="https://item.jd.com/<?php echo $v->skuid; ?>.html" target="_blank"><?php  echo msubstr($v->skuname,0,10);  ?></a>
                            </td>
                            <td class="border-dotted">¥<?php echo $v->cosprice; ?></td>
                            <td class="border-dotted"><?php echo $v->skunum; ?></td>
                            <td class="border-dotted">¥<?php echo $v->commission *  $scale ; ?></td>
                            <td class="border0" colspan="2">111</td>
                          </tr>
                        <?php endforeach; ?>
                        <tr class="fold"><td colspan="7" onclick='trblack( "{$i}" );' ><img id="img_{$order.id}" src="__ROOT__/static/broker/images/bottom.png" /></td></tr>
                      </tbody>
              
              
                      {/volist}
                  </table>








            <div class="layui-card-body">
                <div class="layui-row">
                    <div class="layui-col-xs4">
                        <div class="layui-inline">
                            <label class="layui-form-label">订单编号：</label>
                            <div class="layui-input-inline seller-inline-4">
                                <div class="layui-form-mid layui-word-aux">{{orderDetail.orderDetail.order_sn}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs4">
                        <div class="layui-inline">
                            <label class="layui-form-label">支付单号：</label>
                            <div class="layui-input-inline seller-inline-4">
                                <div class="layui-form-mid layui-word-aux">{{orderDetail.orderDetail.pay_sn}}</div>
                            </div>
                        </div>
                    </div>
                    
  

                        order_sn
                    
                </div>
            </div>
        </div>
        <div class="layui-tab layui-tab-card" lay-filter="goods-tab">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>订单商品</legend>
            </fieldset>
            <div class="layui-tab-content" >
                <table lay-filter="parse-table-demo" class="layui-table">
                    <thead>
                    <tr>
                        <th lay-data="{field:'username', width:200}">ID</th>
                        <th lay-data="{field:'joinTime', width:150}">货品编号</th>
                        <th lay-data="{field:'sign', minWidth: 180}">商品名称</th>
                        <th lay-data="{field:'sign', minWidth: 180}">商品数量</th>
                    </tr> 
                    </thead>
                    <tbody>
                        <tr v-for="(item,key) in orderDetail.goodsList">
                            <td>{{item.goods_id}}</td>
                            <td>{{item.goods_bn}}</td>
                            <td>{{item.goods_name}}</td>
                            <td>{{item.goods_num}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="layui-card-body" v-else>
        <div class="layui-tab layui-tab-card" lay-filter="goods-tab">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline seller-inline-12">
                        <input type="text" name="keyword" lay-verify="title" v-model="keyword" @blur="leave" placeholder="请输入商品名称\货号" autocomplete="off" class="layui-input">
                        <!-- <button class="layui-btn layui-btn-sm" lay-submit lay-filter="goods-search"><i class="iconfont icon-chaxun"></i>搜索</button> -->
                    </div>
                </div>
            </div>
            <span class="layui-tab-title">全部商品</span>
            <div class="layui-tab-content" >
                <table lay-filter="parse-table-demo" class="layui-table">
                    <thead>
                    <tr>
                        <th lay-data="{field:'username', width:200}">ID</th>
                        <th lay-data="{field:'joinTime', width:150}">货品编号</th>
                        <th lay-data="{field:'sign', minWidth: 180}">商品名称</th>
                        <th lay-data="{field:'sign', minWidth: 180}">操作</th>
                    </tr> 
                    </thead>
                    <tbody>
                        <tr v-for="(item,key) in osData">
                            <td>{{item.id}}</td>
                            <td>{{item.bn}}</td>
                            <td>{{item.name}}</td>
                            <td><button class="layui-btn layui-btn-sm" @click="joins(item.id,key)"><i class="iconfont icon-chaxun"></i>加入</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-tab layui-tab-card" lay-filter="goods-tab">
            <span class="layui-tab-title">全部商品</span>
            <div class="layui-tab-content" >
                <table lay-filter="parse-table-demo" class="layui-table">
                    <thead>
                    <tr>
                        <th lay-data="{field:'username', width:200}">ID</th>
                        <th lay-data="{field:'joinTime', width:150}">货号</th>
                        <th lay-data="{field:'joinTime', width:150}">商品名称</th>
                        <th lay-data="{field:'joinTime', width:150}">商品数量</th>
                        <th lay-data="{field:'sign', minWidth: 180}">操作</th>
                    </tr> 
                    </thead>
                    <tbody>
                    <tr v-for="item in goodsGroupData">
                        <td>{{item.id}}</td>
                        <td>{{item.bn}}</td>
                        <td>{{item.name}}</td>
                        <td><input type="number" ref="num" class="layui-input" /></td>
                        <td><button class="layui-btn layui-btn-sm" @click="removes(item.id)"><i class="iconfont icon-chaxun"></i>删除</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" @click="submits()" >保存</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


var app = new Vue({
    el: '#app',
    data: {
        keyword : '',
        id : {$data.id},
        osData:{},
        goodsGroup:[],
        goodsGroupData:{},
        orderDetail:{},
        message: 'Hello Vue.js!'
    },
    methods: {

        // 当页面离开时
        leave : function(){
            this.search(this.keyword);  
        },

        // 搜索
        search: function(keyword){
            let self = this;
            let url = "{:url('Voucher/search')}?name=" + keyword;
            axios.get(url).then((resp)=>{
                console.log(resp);
                if(resp.status == 200 && resp.data.code == 200){
                    self.osData = resp.data.data;
                }
            }).catch((err)=>{
                console.log(err);
            });
        },

        // 加入
        joins : function(id,key){
            let list = this.goodsGroup;
            if(list.indexOf(id) == -1){
                list.push(id);
                this.listData();
            }else{
                alert('该商品已经添加过！');
            }
            
        },

        // 移除
        removes : function(id){
            console.log(id);
            // let list = this.goodsGroup;
            // console.log(list.indexOf(id));
            // if(list.indexOf(id) != -1){
            //     console.log(list.indexOf(id));
            //     this.goodsGroup = list.splice(list.indexOf(id));
            //     console.log(this.goodsGroup);
            //     this.listData();
            // }
        },

        // 请求结果集
        listData : function(){
            let self = this;
            let url = "{:url('Voucher/getGoodsGroup')}?data=" + self.goodsGroup;
            axios.get(url).then((resp)=>{
                console.log(resp);
                if(resp.status == 200 && resp.data.code == 200){
                    self.goodsGroupData = resp.data.data;
                }
            }).catch((err)=>{
                console.log(err);
            });
        },

        // 表单提交
        submits : function(){
            let url = "{:url('Voucher/goOrder')}"
            let nums = [];
            for (let row of this.$refs.num) {
                nums.push(row.value);
            }
            let data = {
                'id' : this.id,
                "ids":this.goodsGroup,
                "nums":nums,
            };
            axios.post(url,data).then(res=>{
                console.log('res=>',res);
            }).catch((err)=>{
                console.log(err);
            });
        }


    },
    // 初始化
    mounted : function () {
        var self = this;
        self.$nextTick(function(){
            let url = "{:url('Voucher/getOrderPhoto')}?photo_id=" + self.id;
            axios.get(url).then((resp)=>{
                if(resp.status == 200 && resp.data.code == 200){
                    console.log(resp.data.data);
                    self.orderDetail = resp.data.data;
                }
            }).catch((err)=>{
                console.log(err);
            });
        });
    }
});

</script>


