<link rel="stylesheet" href="__STATIC_LIB__layui/css/layui.css">
<link rel="stylesheet" href="__STATIC_LIB__layui/css/layui.seller.css">
<style type="text/css">
    .layui-card-body{
        background-color: #fff;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #e6e6e6;
    }

    .layui-tab-card>.layui-tab-title{
        background-color: #f9f9f9;
        border-bottom: none;
    }
    .layui-tab-content{
        padding: 0;
    }
    .layui-table, .layui-table-view{
        margin: 0;
    }
    .layui-margin-10{
        margin:10px ;
    }
    .layui-card-body .bottom-btn{
        text-align: right;
        padding-top:20px

    }
</style>
<!--<script src="__STATIC_JS__jquery.form.js" type="text/javascript" charset="utf-8"></script>-->
<input type="hidden" value="{$quickId}" id="quickId"/>
<form class="layui-form quick-form"  action="" >
    <div class="layui-form-item" style="border:0px;padding-top:15px;margin-bottom:0px">
        <div class="layui-inline">
            <label class="layui-form-label">店铺：</label>
            <div class="layui-input-inline">
                <select id="site_id" name="site_id" lay-filter="site_id">
                    <option value="">请选择店铺</option>
                    {if condition="count($siteList)>0"}
                    {volist name="$siteList" id="vo"}
                    <option value="{$vo.site_id}">{$vo.site_name}</option>
                    {/volist}
                    {/if}

                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">品牌：</label>
            <div class="layui-input-inline">
                <select id="brand_id" name="brand_id" lay-filter="brand_id">
                    <option value="">请选择品牌</option>
                    {if condition="count($brandList)>0"}
                        {volist name="$brandList" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                        {/volist}
                    {/if}

                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">商品名称：</label>
            <div class="layui-input-inline seller-inline-4">
                <input type="text" name="name" lay-verify="title" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="goods-search"><i class="iconfont icon-chaxun"></i>筛选</button>
        </div>
    </div>

    <div class="layui-card-body" style="padding-top:0px;margin:0px;border:0px">
        <div class="layui-tab layui-tab-card" lay-filter="goods-tab">
            <div class="layui-tab-content" >
                <table id="selectGoodsTable" lay-filter="test"></table>
            </div>
        </div>
        <div class="bottom-btn">
            <button type="button" class="layui-btn" lay-filter="confirmSelect" lay-submit>确定</button>
            <button type="button" class="layui-btn layui-btn-primary" lay-filter="cancel" onclick="layer.closeAll()">取消</button>
        </div>
    </div>
</form>

<script src="__STATIC_JS__jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/lib/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC_JS__jquery.form.js" type="text/javascript" charset="utf-8"></script>

<script>
    var table1, window_box;
    var quickId = $("#quickId").val();
    var site_id = $("#site_id").val();
    var brand_id = $("#brand_id").val();
    layui.use(['form', 'layedit','upload', 'laydate','table','element'], function(){
        var upload = layui.upload;
        var element = layui.element;
        var form1 = layui.form;
        var filter = {};
        table1 = layui.table.render({
            elem: '#selectGoodsTable',
            height: 400,
            cellMinWidth: '50',
            page: 'true',
            limit:'20',
            url: "{:url('Goods/AddQuickGoodsList')}?_ajax=1&quickId="+quickId,
            id:'selectGoodsTable',
            cols: [[
                {type:'checkbox', fixed: 'left'},
                {type:'numbers'},
                {field:'image', width:70,title:'主图', align: 'center',templet: function(data){
                        return '<a href="javascript:void(0);" onclick=viewImage("'+data.image+'")><image style="max-width:30px;max-height:30px;" src="'+data.image+'"/></a>';
                    }},
                {field:'name', width:150,title:'名称', align: 'left'},
                {field:'price', width:100,title:'销售价', align: 'center', templet:function(data){return data.price}},
                {field:'stock', width:100,title:'库存', align: 'center'},
            ]],
        });

        //店铺操作
        form1.on('select(site_id)', function(data){
           console.log("data-------",data)
        });

        //搜索
        layui.form.on('submit(goods-search)', function(data){
            var tempfilter=$.extend({},filter,data.field);//合并tab筛选和普通搜索
            table1.reload({
                where: tempfilter
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //判断是否有选中的商品
        function isSelect(){
            var checkStatus = layui.table.checkStatus('selectGoodsTable');
            var checkData = checkStatus.data;
            var ids = [];
            $.each(checkData,function (i,obj) {
                ids.push(obj.id);
            });
            return ids;
        }

        //提交
        layui.form.on('submit(confirmSelect)', function(data){
            var ids = isSelect();
            if(ids.length<=0){
                layer.msg("请先选要操作的数据");
                return false;
            };
            $.ajax({
                url: '{:url("Site/addQuickGoods")}',
                type: 'post',
                data: {
                    'id': ids.join(','),
                    'quickId': quickId,
                },
                success: function(e){
                    layer.msg(e.msg, {time: 1300}, function(){
                    });

                    layui.table.reload('selectGoodsTable', {
                        url: "{:url('Goods/AddQuickGoodsList')}?_ajax=1&quickId="+quickId
                        ,where: {} //设定异步数据接口的额外参数
                        //,height: 300
                    });

                    // layer.closeAll();
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        form1.render();

    });




</script>
