<form class="layui-form seller-form"  action="" >
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">手机号码：</label>
            <div class="layui-input-inline seller-inline-3">
                <input type="text" name="buyer_tel" lay-verify="title" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-inline seller-inline-2" >
                <select name="sex" lay-verify="">
                    <option value=""></option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                    <option value="0">未知</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">赊账：</label>
            <div class="layui-input-inline seller-inline-2" >
                <select name="credit" lay-verify="">
                    <option value=""></option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-inline seller-inline-2">
                <input type="text" name="buyer_name" lay-verify="title" placeholder="用户名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户ID：</label>
            <div class="layui-input-inline seller-inline-2">
                <input type="text" name="buyer_id" lay-verify="id" placeholder="用户Id" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户昵称：</label>
            <div class="layui-input-inline seller-inline-2">
                <input type="text" name="buyer_nickname" lay-verify="id" placeholder="用户昵称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
	        <div class="layui-input-block">
	            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="*"><i class="iconfont icon-chaxun"></i>筛选</button>
	        </div>
        </div>
    </div>
</form>

<div class="table-body">
    <table id="userTable" lay-filter="test"></table>
</div>

<script>
    layui.use(['form','layer', 'layedit', 'laydate','table'], function(){
        layui.table.render({
            elem: '#userTable',
            height: 'full-230',
            cellMinWidth: '80',
            page: 'true',
            limit:'10',
            url: "{:url('user/index')}?_ajax=1",
            id:'userTable',
            cols: [[
                {type:'numbers'},
				{field:'buyer_id', width:100,title:'用户ID'},
				{field:'created_at', width:200,title:'创建时间'},
                {field:'buyer_name', width:130,title:'用户名'},
                {field:'buyer_nickname', width:130,title:'备注昵称',edit: 'text'},
                {field:'buyer_header', width:100,title:'头像', align: 'center',templet: function(data){
                        return '<a href="javascript:void(0);" onclick=viewImage("'+data.buyer_header+'")><image style="max-width:30px;max-height:30px;" src="'+data.buyer_header+'"/></a>';
                    }},
                {field:'buyer_tel', width:160,title:'手机号码'},
                {field:'sex', width:100,title:'性别', align: 'center',templet:function(data){
                    if(data.sex == '1'){
                        return '<a href="javascript:void(0);">男</a>';
                    }else if(data.sex == '2'){
                        return '<a href="javascript:void(0);">女</a>';
                    }else {
                        return '<a href="javascript:void(0);">未知</a>';
                    }
                }},
                {field:'credit', width:160,  title:'赊账'},
                {field:'balance', width:160,  title:'余额'},
                {field:'points', width:160,  title:'积分'},
                {field:'option',title:'操作', minWidth:800, templet: function (d) {
                        var html = '<span class="layui-btn layui-btn-xs pointEdit" data-id="'+d.buyer_id+'">修改积分</span>';
                        html += '<span class="layui-btn layui-btn-xs pointLog" data-id="'+d.buyer_id+'">积分记录</span>';
                        if(d.is_credit == 1)
                        {
                            html += '<span class="layui-btn layui-btn-xs creditEdit" data-id="'+d.buyer_id+'">修改赊账</span>';
                            html += '<span class="layui-btn layui-btn-xs creditLog" data-id="'+d.buyer_id+'">赊账记录</span>';
                        }
                        html += '<span class="layui-btn layui-btn-xs balanceEdit" data-id="'+d.buyer_id+'">修改余额</span>';
                        html += '<span class="layui-btn layui-btn-xs balanceLog" data-id="'+d.buyer_id+'">余额记录</span>';
                        html += '<a class="layui-btn layui-btn-xs layui-btn-warm coupon" data-id="'+d.buyer_id+'">指定发劵</a>';
                        if (d.is_plus == "0") {
                            html += '<span class="layui-btn layui-btn-xs plus" data-id="'+d.buyer_id+'">加入PLUS</span>';
                        }else{
                            html += '<span class="layui-btn layui-btn-xs layui-btn-warm plus" data-id="'+d.buyer_id+'">取消PLUS</span>';
                        }
                        if (d.is_mall == "0") {
                            html += '<span class="layui-btn layui-btn-xs authority" data-id="'+d.buyer_id+'">区域权限</span>';
                        }else{
                            html += '<span class="layui-btn layui-btn-xs layui-btn-warm authority" data-id="'+d.buyer_id+'">取消区域权限</span>';
                            html += '<span class="layui-btn layui-btn-xs areaority" data-id="'+d.buyer_id+'">设置授权位置</span>';
                        }

                        return html;
                }, align:'center', fixed:'right'}
            ]]
        });
        layui.form.on('submit(*)', function(data){
            layui.table.reload('userTable', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //监听单元格编辑
        layui.table.on('edit(test)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            // layer.msg('[ID: '+ data.buyer_id +'] ' + field + ' 字段更改为：'+ value);

            $.ajax({
                url: "{:url('mall/user/editUserNick')}",
                type: 'post',
                data: {
                    'buyer_id': data.buyer_id,
                    'buyer_nickname': value,
                },
                success: function (e) {
                    if(e.status){
                        // layer.msg(e.msg, {time: 1500}, function(){
                        //     layer.closeAll();
                        //     layui.table.reload('userTable');
                        // });
                        layer.msg(e.msg);
                    }else{
                        layer.msg(e.msg);
                    }
                }
            });

        });

        //指定发劵
        $(document).on('click', '.coupon', function () {
            var id = $(this).attr('data-id');
            // $.ajax({
            //     url: "{:url('mall/user/sendCoupon')}",
            //     type: 'get',
            //     data: {
            //         'buyer_id': id,
            //         'flag': 'false'
            //     },
            //     success: function (e) {
            //         layer.open({
            //             type: 1,
            //             title: '发送指定劵',
            //             area: ['450px', '300px'], //宽高
            //             content: e
            //         });
            //     }
            // });

            //多窗口模式，层叠置顶
            layer.open({
                type: 2//此处以iframe举例
                ,title: '发送指定劵'
                ,area: ['420px', '400px']
                ,shade: 0
                ,maxmin: true
                // ,offset: [ //为了演示，随机坐标
                //     Math.random()*($(window).height()-300)
                //     ,Math.random()*($(window).width()-390)
                // ]
                ,content: "{:url('mall/user/sendCoupon')}?buyer_id="+id
                ,zIndex: layer.zIndex //重点1
                ,success: function(layero){
                    layer.setTop(layero); //重点2
                }
            });
        });

        //积分编辑
        $(document).on('click', '.pointEdit', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: "{:url('mall/user/editPoint')}",
                type: 'get',
                data: {
                    'buyer_id': id,
                    'flag': 'false'
                },
                success: function (e) {
                    layer.open({
                        type: 1,
                        title: '修改用户积分',
                        area: ['450px', '300px'], //宽高
                        content: e
                    });
                }
            });
        });

        //保存积分
        $(document).on('click', '.edit-point-save', function(){
            var buyer_id = $("#buyer_id").val();
            var point = $("#point").val();
            var remark = $("#remark").val();
            $.ajax({
                url: "{:url('mall/user/savePoint')}",
                type: 'post',
                data: {
                    'buyer_id': buyer_id,
                    'point': point,
                    'remark': remark,
                },
                success: function (e) {
                    if(e.status){
                        layer.msg(e.msg, {time: 1500}, function(){
                            layer.closeAll();
                            layui.table.reload('userTable');
                        });
                    }else{
                        layer.msg(e.msg);
                    }
                }
            });
        });

        //余额编辑界面
        $(document).on('click', '.balanceEdit', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: "{:url('mall/user/editBalance')}",
                type: 'get',
                data: {
                    'buyer_id': id
                },
                success: function (e) {
                    layer.open({
                        type: 1,
                        title: '修改用户余额',
                        area: ['450px', '300px'], //宽高
                        content: e
                    });
                }
            });
        });

        // 保存余额
        $(document).on('click', '.edit-balance-save', function(){
            var buyer_id = $("#buyer_id").val();
            var balance = $("#balance").val();
            var remark = $("#remark").val();
            $.ajax({
                url: "{:url('mall/user/saveBalance')}",
                type: 'post',
                data: {
                    'buyer_id': buyer_id,
                    'balance': balance,
                    'remark': remark,
                },
                success: function (e) {
                    if(e.status){
                        layer.msg(e.msg, {time: 1500}, function(){
                            layer.closeAll();
                            layui.table.reload('userTable');
                        });
                    }else{
                        layer.msg(e.msg);
                    }
                }
            });
        });


        //积分记录
        $(document).on('click', '.pointLog', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: "{:url('mall/user/pointLog?_ajax=0')}",
                type: 'get',
                data: {
                    'buyer_id': id,
                },
                success: function (e) {
                    layer.open({
                        type: 1,
                        title: '用户积分记录',
                        area: ['800px', '535px'], //宽高
                        content: e
                    });
                }
            });
        });

        //余额记录
        $(document).on('click', '.balanceLog', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: "{:url('mall/user/balanceLog?_ajax=0')}",
                type: 'get',
                data: {
                    'buyer_id': id,
                },
                success: function (e) {
                    layer.open({
                        type: 1,
                        title: '用户余额记录',
                        area: ['900px', '535px'], //宽高
                        content: e
                    });
                }
            });
        });


        // 赊账编辑界面
        $(document).on('click', '.creditEdit', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: "{:url('mall/user/editCredit')}",
                type: 'get',
                data: {
                    'buyer_id': id
                },
                success: function (e) {
                    layer.open({
                        type: 1,
                        title: '修改用户赊账',
                        area: ['450px', '300px'], //宽高
                        content: e
                    });
                }
            });
        });


        // 保存赊账
        $(document).on('click', '.edit-credit-save', function(){
            var buyer_id = $("#buyer_id").val();
            var balance = $("#balance").val();
            var remark = $("#remark").val();
            $.ajax({
                url: "{:url('mall/user/saveCredit')}",
                type: 'post',
                data: {
                    'buyer_id': buyer_id,
                    'balance': balance,
                    'remark': remark,
                },
                success: function (e) {
                    if(e.status){
                        layer.msg(e.msg, {time: 1500}, function(){
                            layer.closeAll();
                            layui.table.reload('userTable');
                        });
                    }else{
                        layer.msg(e.msg);
                    }
                }
            });
        });


        // 赊账记录
        $(document).on('click', '.creditLog', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: "{:url('mall/user/creditLog?_ajax=0')}",
                type: 'get',
                data: {
                    'buyer_id': id,
                },
                success: function (e) {
                    layer.open({
                        type: 1,
                        title: '用户赊账记录',
                        area: ['900px', '535px'], //宽高
                        content: e
                    });
                }
            });
        });

        //加入PLUS
        $(document).on('click', '.plus', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: "{:url('mall/user/addPlus')}",
                type: 'get',
                data: {
                    'buyer_id': id,
                },
                success: function (e) {
                    // layer.open({
                    //     type: 1,
                    //     title: '加入Plus',
                    //     area: ['900px', '535px'], //宽高
                    //     content: e
                    // });
                    layer.msg(e.msg);
                    layui.table.reload('userTable');
                },
                error:function (err) {
                    layer.msg(err.msg);
                }
            });
        });



        // 加入取消权限
        $(document).on('click', '.authority', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: "{:url('mall/user/addAuthority')}",
                type: 'get',
                data: {
                    'buyer_id': id,
                },
                success: function (e) {
                    layer.msg(e.msg);
                    layui.table.reload('userTable');
                },
                error:function (err) {
                    layer.msg(err.msg);
                }
            });
        });


        // 设置用户区域权限
        $(document).on('click', '.areaority', function () {
            var id = $(this).attr('data-id');
            $.ajax({
                url: "{:url('mall/user/setArea')}",
                type: 'get',
                data: {
                    'buyer_id': id,
                },
                success: function (e) {
                    layer.open({
                        type: 1,
                        title: '设置用户区域',
                        area: ['900px', '535px'], //宽高
                        content: e
                    });
                },
                error:function (err) {
                    layer.msg(err.msg);
                }
            });
        });

        

        //保存积分
        $(document).on('click', '.edit-plus-save', function(data){
            var buyer_id = $("#buyer_id").val();
            var plus_type = $("#plus_type").val();
            var level = $("#level").val();
            $.ajax({
                url: "{:url('mall/user/addPlusPost')}",
                type: 'post',
                data: {
                    'buyer_id': buyer_id,
                    'plus_type': plus_type,
                    'level': level
                },
                success: function (e) {
                    if(e.status){
                        layer.msg(e.msg, {time: 1500}, function(){
                            layer.closeAll();
                            layui.table.reload('userTable');
                        });
                    }else{
                        layer.msg(e.msg);
                    }
                }
            });
        });

    });
</script>
