<div style="padding:30px" class="layui-form layui-form-pane">

    <input type="hidden" id="id" value="{$info.id}">

    <div class="layui-form-item">
        <label class="layui-form-label">分类名称：</label>
        <div class="layui-input-block">
            <input type="text" name="name" id="name" value="{$info.name}" required lay-verify="required" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序：</label>
        <div class="layui-input-block">
            <input type="number" name="sort" id="sort" value="{$info.sort}" required lay-verify="required" placeholder="排序" autocomplete="off" class="layui-input" value="100">
        </div>
    </div>
    <button class="layui-btn layui-btn-fluid add-save-btn">保存</button>
</div>


<script>
    //渲染表单
    layui.use('form', function(){
        var form = layui.form;
        form.render();
    });
</script>