<link rel="stylesheet" href="__STATIC_LIB__layui/css/layui.css">
<link rel="stylesheet" href="__STATIC_LIB__layui/css/layui.seller.css">
<style type="text/css">
    .layui-card-body{
        background-color: #fff;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #e6e6e6;
    }

    .layui-tab-card>.layui-tab-title{
        background-color: #f9f9f9;
        border-bottom: none;
    }
    .layui-tab-content{
        padding: 0;
    }
    .layui-table, .layui-table-view{
        margin: 0;
    }
    .layui-margin-10{
        margin:10px ;
    }
</style>
<script src="__STATIC_JS__jquery.form.js" type="text/javascript" charset="utf-8"></script>

<form class="layui-form seller-form"  action="" >
    <div class="layui-form-item">
        <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label">用户：</label>-->
            <!--<div class="layui-input-inline seller-inline-4">-->
                <!--<input type="text" name="name" lay-verify="title" placeholder="请输入申请人" autocomplete="off" class="layui-input">-->
            <!--</div>-->
        <!--</div>-->

        <div class="layui-inline">
            <div class="layui-inline">
                <label class="layui-form-label">日期范围：</label>
                <div class="layui-input-inline">
                    <input type="text" name="staDate" class="layui-input" id="test6" placeholder=" - ">
                </div>
            </div>
        </div>

        <div class="layui-inline">
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="balance-search"><i class="iconfont icon-chaxun"></i>筛选</button>
        </div>
    </div>
</form>
<div class="layui-row">
    <div class="layui-col-xs2 layui-col-md2">
        <blockquote class="layui-elem-quote layui-quote-nm">
            <div style="font-size: 24px">当前余额：￥{$balance.mallPrice}</div>
        </blockquote>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-xs2 layui-col-md2">
        <blockquote class="layui-elem-quote layui-quote-nm">
            <div>总收入：￥{$balance.mallPriceSum}</div>
        </blockquote>
    </div>
    <div class="layui-col-xs2 layui-col-md2">
        <blockquote class="layui-elem-quote layui-quote-nm">
            <div>总支出：-<span style="color: red">￥{$balance.mallPriceOutSum}</span></div>
        </blockquote>
    </div>
</div>

<div class="layui-card-body">
    <div class="layui-tab layui-tab-card" lay-filter="balance-tab">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="all">全部</li>
            <li lay-id="into">收入</li>
            <li lay-id="out">支出</li>
        </ul>
        <div class="layui-tab-content">
            <table class="layui-hide" id="balance" lay-filter="balance"></table>

            <script type="text/html" id="balanceDemo">
                --
            </script>

        </div>
    </div>
</div>
<script src="__STATIC__/lib/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script>
    var table;
    layui.use(['table','layer','laydate','element'], function(){
        var layer = layui.layer
            ,laydate = layui.laydate
            ,element = layui.element;
        var filter = {};

        //日期范围
        laydate.render({
            elem: '#test6'
            ,range: true
        });

        //方法级渲染
        table = layui.table.render({
            elem: '#balance'
            ,url: "{:url('AreaRecon/balanceIndex')}"
            ,id: 'balance'
            ,title: '现金流水表'
            ,toolbar: true
            ,cols: [[
                {field:'created_at', title: '日期', width:180}
                // ,{field:'username', title: '用户', width:150,templet:function (data) {
                //         return "<a href='{:url('AreaRecon/creditDetail')}?bid="+data.buyer_id+"' style='color:red'>"+data.username+"</a>";
                //     }
                // }
                ,{field:'site_name',title:'店铺名称',width:250}
                ,{field:'order_sn', title: '订单号', width:300}
                ,{field:'price', title: '收入/支出',width:200}
                ,{field:'remark', title: '备注',width:200}
                ,{field:'right', title: '操作',toolbar: '#balanceDemo'}
            ]]
            ,page: true
            ,limit:20
            ,height: 780
        });

        //tab切换
        element.on('tab(balance-tab)', function (data) {
            var type = this.getAttribute('lay-id');

            var date = $("input[name=staDate]").val();

            if(date !== '' )
            {
                filter['staDate'] = date;
            }

            if(type === 'all')
            {
                filter = {};
            }else if(type === 'into')
            {
                delete filter.into;
                filter['flow_type'] = '1';
            }else if(type === 'out')
            {
                delete filter.out;
                filter['flow_type'] = '2';
            }
            console.log(type);
            console.log(filter);

            table.reload({
                where: filter
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });

        });

        layui.form.on('submit(balance-search)', function(data){
            var tempfilter=$.extend({},filter,data.field);//合并tab筛选和普通搜索
            table.reload({
                where: tempfilter
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    })
</script>