<link rel="stylesheet" href="__STATIC_LIB__layui/css/layui.css">
<link rel="stylesheet" href="__STATIC_LIB__layui/css/layui.seller.css">
<table id="couponLog" lay-filter="pointLog"></table>

<script src="__STATIC_JS__jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/lib/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC_JS__jquery.form.js" type="text/javascript" charset="utf-8"></script>
<script>
    var table;
    layui.use('table', function(){
        table = layui.table.render({
            elem: '#couponLog',
            cellMinWidth: '80',
            page: 'true',
            limit:'10',
            url: "{:url('coupon/getCouponListLog')}?_ajax=1&id={$cp.cp_id}",
            id:'couponLog',
            height: '471',
            // response: {
            //     statusName: 'status',
            //     statusCode: 1,
            // },
            cols: [[
                {type:'numbers'},
                {field:'buyer_name', width:150, title:'领取人'},
                {field:'coupon_state', width:110, title:'使用状态'},
                {field:'created_at', width:200, title:'领取时间'},
            ]]
        });
    });
</script>
